{% extends '::base.html.twig' %}

{% block title %}
index - Categorie
{% endblock %}

{% block h1 %}
Categorie
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li>
		<i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
	</li>
	<li class="active">
		<i class="fa fa-table"></i> Catégorie
	</li>
</ol>
{% endblock %}

{% block body %}
<div class="col-lg-12">
<a href="{{ path('categorie.new') }}" class="btn btn-success">Ajouter une categorie <i class="fa fa-fw fa-plus"></i></a>

{% for flashMessage in app.session.flashbag.get('notice') %}
<br /><br />
    <div class="alert alert-success">
    	<a href="#" class="close" data-dismiss="alert">&times;</a>
        <p><img width="20" height="20" src="{{ asset('img/icons/ok.png') }}" alt="success" />  {{ flashMessage }}</p>
    </div>
    
{% endfor %}

	<h2>Liste des Categories</h2>
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-striped">
		    <thead>
		        <tr>
		            <th>#</th>
		            <th>NOM</th>
		            <th>DESCRIPTION</th>
		            <th></th>
		            <th></th>
		        </tr>
		    </thead>
		    <tbody>
		        {% for cat in categories %}
		        <tr>
		            <td>{{ cat.getId }}</td>
		            <td>{{ cat.getNom }}</td>
		            <td>{{ cat.getDescription }}</td>
		            <td class="text-center" width="40px"><a href="{{ path('categorie.edit', { 'id': cat.getId }) }}"><img width="20" height="20" src="{{ asset('img/icons/edit.png') }}" alt="edit" /></a></td>
		            <td class="text-center" width="40px"><a href="{{ path('categorie.delete', { 'id': cat.getId }) }}"><img width="20" height="20" src="{{ asset('img/icons/delete.png') }}" alt="delete" /></a></td>
		        </tr>
		        {% endfor %}
		    </tbody>
		</table>
	</div>
</div>
{% endblock %}
