{% extends '::base.html.twig' %}

{% block title %}
index - Thème
{% endblock %}

{% block h1 %}
Thème
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li>
		<i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
	</li>
	<li class="active">
		<i class="fa fa-table"></i> Thème
	</li>
</ol>
{% endblock %}

{% block body %}
<div class="col-lg-12">
<a href="{{ path('theme.new') }}" class="btn btn-success">Ajouter un thème <i class="fa fa-fw fa-plus"></i></a>

{% for flashMessage in app.session.flashbag.get('notice') %}
<br /><br />
    <div class="alert alert-success">
    	<a href="#" class="close" data-dismiss="alert">&times;</a>
        <p><img width="20" height="20" src="{{ asset('img/icons/ok.png') }}" alt="success" />  {{ flashMessage }}</p>
    </div>
    
{% endfor %}

	<h2>Liste des thèmes</h2>
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-striped">
		    <thead>
		        <tr>
		            <th>LOGO</th>
		            <th>TITRE</th>
		            <th>SLOGAN</th>
		            <th>CRÉE PAR</th>
		            <th>SLIDE 1</th>
		            <th>URL SLIDE 1</th>
		            <th>SLIDE 2</th>
		            <th>URL SLIDE 2</th>
		            <th>SLIDE 3</th>
		            <th>URL SLIDE 3</th>
		            <th></th>
		        </tr>
		    </thead>
		    <tbody>
		        {% for th in themes %}
		        <tr>
		            <td><img width="50px" src="{{ asset('uploads/themes/' ~ th.getLogo)}}" alt="{{ th.getTitre }}" /></td>
		            <td>{{ th.getTitre }}</td>
		            <td>{{ th.getSlogan }}</td>
		            <td>{{ th.getUser.username }}</td>
		            <td><img width="50px" src="{{ asset('uploads/themes/' ~ th.getImageSliderFirst)}}" alt="slide1" /></td>
		            <td>{{ th.getUrlSliderFirst }}</td>
		            <td><img width="50px" src="{{ asset('uploads/themes/' ~ th.getImageSliderSecond)}}" alt="slide2" /></td>
		            <td>{{ th.getUrlSliderSecond }}</td>
		            <td><img width="50px" src="{{ asset('uploads/themes/' ~ th.getImageSliderThird)}}" alt="slide3" /></td>
		            <td>{{ th.getUrlSliderThird }}</td>
		            <td class="text-center" width="40px"><a href="{{ path('theme.edit', { 'id': th.getId }) }}"><img width="20" height="20" src="{{ asset('img/icons/edit.png') }}" alt="edit" /></a></td>
		            <td class="text-center" width="40px"><a href="{{ path('theme.delete', { 'id': th.getId }) }}"><img width="20" height="20" src="{{ asset('img/icons/delete.png') }}" alt="delete" /></a></td>
		        </tr>
		        {% endfor %}
		    </tbody>
		</table>
	</div>
</div>
{% endblock %}
